# -----------------------------------------
# LARAVEL
# -----------------------------------------
/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
/.phpunit.cache
composer.lock

# Caches Laravel
bootstrap/cache/*.php
storage/*.key
/storage/pail
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log

# Build frontend (Vite)
public/build
public/hot
public/storage

# -----------------------------------------
# IDE / EDITORS
# -----------------------------------------
/.idea
/.vscode
/.fleet
/.nova
/.zed
*.swp
*.swo

# -----------------------------------------
# OS FILES
# -----------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------
# AUTH / PRIVATE
# -----------------------------------------
auth.json

# -----------------------------------------
# HOMESTEAD
# -----------------------------------------
Homestead.json
Homestead.yaml

